{% extends 'main.html' %}

{% block content %}

<h1>{{ box.name }}</h1>

<form method="GET" action="{% url 'home' %}?q=">
    <input type="text" name="q" placeholder="Search Mail...">
</form>

<div>

    <div>
        {% for b in boxes %}

            <a href="{% url 'box' b.name %}">{{ b.name }}</a>

        {% endfor %}
    </div>

    <div>
        <a href="{% url 'sendMail' %}">Compose Email</a>
    </div>

    <div>
        {% for letter in mail %}

            {% if letter.inShadowRealm == False %}
            {% if box.name == 'All Mail' or letter.currentBox.name == box.name or box.name == 'Inbox' and letter.currentBox.name == 'Highlighted' or box.name == 'Inbox' and letter.currentBox.name == 'Inbox' %}

                {% if letter.isUnread == True %}
                    <h2>Unread</h2>
                {% else %}
                    <h2>Read</h2>
                {% endif %}

                <a href="{% url 'mail' letter.id %}"><h3>{{letter.sender.first_name}} {{letter.sender.last_name}}: {{letter.title}}</h3></a>

                <p>{{letter.content}}</p>

                <div>
                    <a href="{% url 'markUnreadOrRead' letter.id %}">
                        {% if letter.isUnread == True %}
                            <h4>Mark as Read</h4>
                        {% else %}
                            <h4>Mark as Unread</h4>
                        {% endif %}
                    </a>

                    {% if letter.currentBox.name == 'Highlighted' %}
                        <a href="{% url 'moveMailToBox' letter.id 'Inbox' %}">
                            <h4>Unhighlight</h4>
                        </a>
                    {% else %}
                        <a href="{% url 'moveMailToBox' letter.id 'Highlighted' %}">
                            <h4>Highlight</h4>
                        </a>
                    {% endif %}

                    {% if letter.currentBox.name == 'Archive' %}
                        <a href="{% url 'moveMailToBox' letter.id 'Inbox' %}">
                            <h4>Take out of Archive</h4>
                        </a>
                    {% else %}
                        <a href="{% url 'moveMailToBox' letter.id 'Archive' %}">
                            <h4>Archive</h4>
                        </a>
                    {% endif %}

                    {% if letter.currentBox.name == 'Deleted' %}
                        <a href="{% url 'moveMailToBox' letter.id 'Inbox' %}">
                            <h4>Restore</h4>
                        </a>
                    {% else %}
                        <a href="{% url 'moveMailToBox' letter.id 'Deleted' %}">
                            <h4>Delete</h4>
                        </a>
                    {% endif %}
                </div>
                <hr>
            
            {% endif %}
            {% endif %}
                
        {% endfor %}
    </div>

</div>

{% endblock content %}