{% extends 'main.html' %}

{% block content %}

<h1>{{ box.name }}</h1>

<div>

    <div>
        {% for b in boxes %}

            <a href="{% url 'box' b.name %}">{{ b.name }}</a>

        {% endfor %}
    </div>

    <div>
        <a href="{% url 'sendMail' %}">Compose Email</a>
    </div>

    <div>
        {% if box.name == 'Inbox' %}

            {% for letter in mail %}

                {% if letter.currentBox.name == 'Highlighted' or letter.currentBox.name == 'Inbox' %}

                    {% if letter.isUnread == True %}
                        <h2>Unread</h2>
                    {% else %}
                        <h2>Read</h2>
                    {% endif %}

                    <a href="{% url 'mail' letter.id %}"><h3>{{letter.sender.first_name}} {{letter.sender.last_name}}: {{letter.title}}</h3></a>

                    <a href="{% url 'deleteEmail' letter.id %}">
                        <h4>Delete</h4>
                    </a>

                    <hr>
                
                {% endif %}
                
            {% endfor %}

        {% else %}

            {% for letter in mail %}

                {% if letter.currentBox.name == box.name %}

                    {% if letter.isUnread == True %}
                        <h2>Unread</h2>
                    {% else %}
                        <h2>Read</h2>
                    {% endif %}

                    <a href="{% url 'mail' letter.id %}"><h3>{{letter.sender.first_name}} {{letter.sender.last_name}}: {{letter.title}}</h3></a>

                    <a href="{% url 'deleteEmail' letter.id %}">
                        <h4>Delete</h4>
                    </a>

                    <hr>
                
                {% endif %}
                    
            {% endfor %}

        {% endif %}
    </div>

</div>

{% endblock content %}