{% extends 'main.html' %}

{% block content %}

<h1>Home</h1>

<div>
    <div>
        {% for b in boxes %}

            <a href="{% url 'box' b.name %}">{{ b.name }}</a>

        {% endfor %}
    </div>

    <div>
        <a href="{% url 'sendMail' %}">Compose Email</a>
    </div>

    <div>
        {% for letter in mail %}

            {% if letter.isUnread == True %}
                <h2>Unread</h2>
            {% else %}
                <h2>Read</h2>
            {% endif %}

            <a href="{% url 'mail' letter.id %}"><h3>{{letter.sender.first_name}} {{letter.sender.last_name}}: {{letter.title}}</h3></a>

            <a href="{% url 'deleteEmail' letter.id %}">
                <h4>Delete</h4>
            </a>

            <hr>
            
        {% endfor %}
    </div>
</div>

{% endblock content %}